<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <p class="alert alert-success">
        {{title | lowercase}}
      </p>
      <p class="alert alert-success">
        {{title | uppercase | titlecase}}
      </p>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          {{course.title | uppercase}}
        </div>
        <div class="card-body">
          <p>
            {{course.students | number}}
          </p>
          <p>
            {{course.rating | number: '1.1'}}
          </p>
          <p>
            {{course.price | currency : 'INR'}}
          </p>
          <p>
            {{course.releaseDate | date}}
          </p>
      
        </div>

      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="alert alert-success">
        {{title | summary : 50}}
      </p>
      <p class="alert alert-success">
        {{title | summary}}
      </p>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let file of filesArray">
      <div class="card">
        <div class="card-header">
          {{file.fileName}}
        </div>
        <div class="card-body">
          {{file.size | fileSize}}
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

 <div class="container">
  <!-- <div class="row">
    <div class="col-md-10">
      <input type="text" [(ngModel)]="searchedValue" class="form-control" placeholder="Search player">
    </div>
    <div class="col-md-2">
      <select>
        <option value="">Filter By</option>
        <option value="">Filter By Name</option>
        <option value="">Filter By Team Name</option>
        <option value="">Filter By Odi Runs</option>
        <option value="">Filter By Test Runs</option>
        <option value="">Filter By Debute Year</option>
      </select>
    </div>
    </div>
 -->

    <div class="row">
    <div class="col-md-10 offset-md-1">
      <input type="text" [(ngModel)]="searchedValue" class="form-control" placeholder="Search player">
      <hr>
      <table class="table table-bordered">
        <thead>
          <tr>
          <th>Sr No</th>
          <th>Name</th>
          <th>Team Name</th>
          <th>Odi Runs</th>
          <th>Test Runs</th>
          <th>Debute Year</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players | playerFilter : searchedValue; index as i">
            <td>{{i + 1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.team}}</td>
            <td>{{player.odiRuns}}</td>
            <td>{{player.testRuns}}</td>
            <td>{{player.yearDebute}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>